/*------------------------------------*\
 	#MEDIA QUERY BREAKPOINTS
\*------------------------------------*/

$screen-l: 960px;
$screen-m: 721px;
$screen-s: 321px;

@mixin breakpoint($point) {
  @if $point == extrasmall {
    @media only screen and (min-width: 321px) {
      @content;
    }

  }
  @if $point == small {
    @media only screen and (min-width: 481px) {
      @content;
    }
  } @else if $point == medium {
    @media only screen and (min-width: 641px) {
      @content;
    }
  } @else if $point == large {
    @media only screen and (min-width: 721px) {
      @content;
    }
  } @else if $point == extralarge {
    @media only screen and (min-width: 961px) {
      @content;
    }
  }
}