/*--------------------------*\
	#COLORS
\*--------------------------*/

/**
 * Base colors
 */
$white: #ffffff;
$black: #000000;
$background-grey: #ededed;
$background-color: $background-grey;
$lightest-grey: #dcdcdc;
$light-grey: #9b9b9b; // old value: #9d9e9f
$mid-grey: #545454;
$dark-grey: #333333;



/**
 * Blues
 */
$lightest-blue: #dbe8f7;
$light-blue: #ccdef4;
$mid-blue: #065ca9;
$mid-dark-blue: #4a90e2;
$special-blue: #26a9df;
$campaign-blue: #4A90E2;
$dark-blue: #002c5e;



/**
 * Yellows
 */
$light-yellow: #ffeaa1;
$mid-yellow: #ffcc33;
$dark-yellow: #febb28;
$darkest-yellow: #ffab27;
$mijnkvk-yellow: #FFCB55;


/**
 * Reds
 */
$light-red: #fc746e;
$mid-red: #ff3333;
$dark-red: #cc0000;

$button-close-color: #ffc100;



/**
 * Greens
 */
$green: #b4d241;
$hallo-green: $green;
$light-green: #7DB98E;


/**
 * Purple
 */
$purple: #413394;


/**
 * Orange
 */
$orange: #E17000;


/**
 * ?????
 */
$background-attention: #e8eaef;

$placeholder-light: #d5d5d5;
$placeholder-mid: #7a7a7a;
$placeholder-dark: #535353;




