//.info-panel {
//  margin-top: 5px;
//  margin-bottom: 5px;
//  padding: 15px;
//  background-color: $background-grey;
//}

.search-panel {
  margin: 5px 0;
  background-color: $background-grey;

  .search-panel-header {
    background-color: $lightest-grey;
    padding: 1rem;
    cursor: pointer;
  }

  .search-panel-body {
    padding: 10px 5px;
  }
}

.slide-in{
  animation: slide-in 5s forwards;
  @keyframes slide-in {
    from {
      max-height: 0;
    }

    to {
      max-height: 1000px;
    }
  }
}