.steps {

  ul {
    height: 40px;
    background-color: #CFCFCF;
    padding: 20px;

    li {
      margin: 20px;
      list-style: none;
      display: inline;
    }
  }

  .is-active {
    background-color: red;
  }
}


