.steps {
  display: flex;
  background-color: #CFCFCF;

  div {
    min-height: 50px;
    flex-grow: 1;

    background-color: #CFCFCF;
    margin: 0 5px;

  }

  .is-active {
    background-color: green;
  }
}